html
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  font: 112.5%/1.45em georgia, serif, sans-serif
  box-sizing: border-box
  overflow-y: scroll

body
  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: hsla(0, 0%, 0%, 0.8)
  font-family: georgia, serif
  font-weight: normal
  word-wrap: break-word
  font-kerning: normal
  -moz-font-feature-settings: "kern", "liga", "clig", "calt"
  -ms-font-feature-settings: "kern", "liga", "clig", "calt"
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt"
  font-feature-settings: "kern", "liga", "clig", "calt"

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary
  display: block

audio, canvas, progress, video
  display: inline-block

audio:not([controls])
  display: none
  height: 0

progress
  vertical-align: baseline

[hidden], template
  display: none

a
  background-color: transparent
  text-decoration: none
  color: white

  &:active, &:hover
    outline-width: 0

abbr[title]
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5)
  cursor: help
  text-decoration: none

b, strong
  font-weight: inherit
  font-weight: bolder

dfn
  font-style: italic

h1
  padding: 0

  margin: 0 0 1.45rem
  color: inherit
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  font-weight: bold
  text-rendering: optimizeLegibility
  font-size: 2.25rem
  line-height: 1.1

mark
  background-color: #ff0
  color: #000

small
  font-size: 80%

sub, sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sub
  bottom: -0.25em

sup
  top: -0.5em

img
  border-style: none
  max-width: 100%
  padding: 0
  margin: 0 0 1.45rem

svg:not(:root)
  overflow: hidden

code, kbd, pre, samp
  font-family: monospace
  font-size: 1em

figure
  padding: 0
  margin: 0 0 1.45rem

hr
  box-sizing: content-box
  overflow: visible
  padding: 0
  margin: 0 0 calc(1.45rem - 1px)
  background: hsla(0, 0%, 0%, 0.2)
  border: none
  height: 1px

button, input, optgroup, select, textarea
  font: inherit
  margin: 0

optgroup
  font-weight: 700

button, input
  overflow: visible

button, select
  text-transform: none

[type="reset"], [type="submit"], button, html [type="button"]
  -webkit-appearance: button

[type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, button::-moz-focus-inner
  border-style: none
  padding: 0

[type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring, button:-moz-focusring
  outline: 1px dotted ButtonText

fieldset
  border: 1px solid silver
  padding: 0
  margin: 0 0 1.45rem

legend
  box-sizing: border-box
  color: inherit
  display: table
  max-width: 100%
  padding: 0
  white-space: normal

textarea
  overflow: auto

[type="checkbox"], [type="radio"]
  box-sizing: border-box
  padding: 0

[type="number"]
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button
    height: auto

[type="search"]
  -webkit-appearance: textfield
  outline-offset: -2px

  &::-webkit-search-cancel-button, &::-webkit-search-decoration
    -webkit-appearance: none

\::-webkit-input-placeholder
  color: inherit
  opacity: 0.54

\::-webkit-file-upload-button
  -webkit-appearance: button
  font: inherit

*
  box-sizing: inherit

  &:before, &:after
    box-sizing: inherit

h2
  padding: 0
  margin: 0 0 1.45rem
  color: inherit
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  font-weight: bold
  text-rendering: optimizeLegibility
  font-size: 1.62671rem
  line-height: 1.1

h3
  padding: 0
  margin: 0 0 1.45rem
  color: inherit
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  font-weight: bold
  text-rendering: optimizeLegibility
  font-size: 1.38316rem
  line-height: 1.1

h4
  padding: 0
  margin: 0 0 1.45rem
  color: inherit
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  font-weight: bold
  text-rendering: optimizeLegibility
  font-size: 1rem
  line-height: 1.1

h5
  padding: 0
  margin: 0 0 1.45rem
  color: inherit
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  font-weight: bold
  text-rendering: optimizeLegibility
  font-size: 0.85028rem
  line-height: 1.1

h6
  padding: 0
  margin: 0 0 1.45rem
  color: inherit
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  font-weight: bold
  text-rendering: optimizeLegibility
  font-size: 0.78405rem
  line-height: 1.1

hgroup
  padding: 0
  margin: 0 0 1.45rem

ul, ol
  padding: 0
  margin: 0 0 1.45rem 1.45rem
  list-style-position: outside
  list-style-image: none

dl, dd, p
  padding: 0
  margin: 0 0 1.45rem

pre
  margin: 0 0 1.45rem
  font-size: 0.85rem
  line-height: 1.42
  background: hsla(0, 0%, 0%, 0.04)
  border-radius: 3px
  overflow: auto
  word-wrap: normal
  padding: 1.45rem

table
  padding: 0
  margin: 0 0 1.45rem
  font-size: 1rem
  line-height: 1.45rem
  border-collapse: collapse
  width: 100%

blockquote
  padding: 0
  margin: 0 1.45rem 1.45rem

form, noscript, iframe, address
  padding: 0
  margin: 0 0 1.45rem

b, strong, dt, th
  font-weight: bold

li
  margin-bottom: calc(1.45rem / 2)

ol li, ul li
  padding-left: 0

li >
  ol, ul
    margin-left: 1.45rem
    margin-bottom: calc(1.45rem / 2)
    margin-top: calc(1.45rem / 2)

blockquote *:last-child, li *:last-child, p *:last-child
  margin-bottom: 0

li > p
  margin-bottom: calc(1.45rem / 2)

code, kbd, samp
  font-size: 0.85rem
  line-height: 1.45rem

abbr, acronym
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5)
  cursor: help

thead
  text-align: left

td
  text-align: left
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12)
  font-feature-settings: "tnum"
  -moz-font-feature-settings: "tnum"
  -ms-font-feature-settings: "tnum"
  -webkit-font-feature-settings: "tnum"
  padding: 0.725rem 0.96667rem calc(0.725rem - 1px)

th
  text-align: left
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12)
  font-feature-settings: "tnum"
  -moz-font-feature-settings: "tnum"
  -ms-font-feature-settings: "tnum"
  -webkit-font-feature-settings: "tnum"
  padding: 0.725rem 0.96667rem calc(0.725rem - 1px)

  &:first-child
    padding-left: 0

td:first-child
  padding-left: 0

th:last-child, td:last-child
  padding-right: 0

tt, code
  background-color: hsla(0, 0%, 0%, 0.04)
  border-radius: 3px
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono", "Liberation Mono", Menlo, Courier, monospace
  padding: 0.2em 0

pre code
  background: none
  line-height: 1.42

code
  &:before, &:after
    letter-spacing: -0.2em
    content: " "

tt
  &:before, &:after
    letter-spacing: -0.2em
    content: " "

pre
  code
    &:before, &:after
      content: ""

  tt
    &:before, &:after
      content: ""
/* header 설정 */
header
  > div
    margin: 0 auto
    width: 100%
    padding: 0.45rem 1.0875rem
    > h1
      margin: 0
      > a
        color: white
        text-decoration: none

/* page load 전 spinner */
div.beforeLoadPage
  position: fixed
  width: 100%
  height: 100%
  z-index: 1201
  background-color: #EEE
  display: flex
  align-items: center
  justify-content: center
  transition: all linear 1s
.sidebar
  width: 300px
  height: calc(100%)
  float: left
  background-color: turquoise
main
  width: calc(100% - 300px)
  float: left
  margin-top: 60px
  ol
    padding-inline-start: 20px
  ul
    padding-inline-start: 20px
  img
    max-width: 100%
  /* index card형 게시글 */
  .MuiCard-root
    width: 100%
    cursor: pointer
    &:last-child
      margin-right: 0
    .MuiCardHeader-avatar > .MuiAvatar-root
      background-color: #663399
    > img /* card image */
      height: 250px
      border-top: 1px solid #e5e5e5
      border-bottom: 1px solid #e5e5e5
    > .MuiCardContent-root /* card content */
      height: 150px
      padding: 0
      margin: 16px
      overflow: hidden

/* sideBar menu */
.MuiDrawer-root
  .MuiDrawer-docked
    width: 320px
    .MuiDrawer-paperAnchorDockedLeft
      width: 320px
  .MuiListItem-gutters
    padding-left: 10px
    padding-right: 20px
  .MuiTypography-body1
    font-size: .75rem
  .MuiSvgIcon-root
    color: #777
aside
  float: right
  width: 300px
  height: 100vh
  margin-top: 70px
@media only screen and (max-width: 480px)
  html
    font-size: 100%
@media only screen and (max-width: 768px)
  main
    width: 100%
  aside
    display: none