@font-face
  font-family: "CascadiaMonoPL"
  src: url("../fonts/CascadiaMonoPL.ttf")
html
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  font: 112.5%/1.45em georgia, serif, sans-serif
  box-sizing: border-box
  overflow-y: hidden
  height: 100%

body
  margin: 0
  height: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: hsla(0, 0%, 0%, 0.8)
  font-family: georgia, serif
  font-weight: normal
  word-wrap: break-word
  font-kerning: normal
  -moz-font-feature-settings: "kern", "liga", "clig", "calt"
  -ms-font-feature-settings: "kern", "liga", "clig", "calt"
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt"
  font-feature-settings: "kern", "liga", "clig", "calt"

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary
  display: block

audio, canvas, progress, video
  display: inline-block

audio:not([controls])
  display: none
  height: 0

progress
  vertical-align: baseline

[hidden], template
  display: none

a
  background-color: transparent
  text-decoration: none

  &:active, &:hover
    outline-width: 0

abbr[title]
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5)
  cursor: help
  text-decoration: none

b, strong
  font-weight: bolder

dfn
  font-style: italic

h1
  padding: 0

  margin: 0 0 1.45rem
  color: inherit
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  font-weight: bold
  text-rendering: optimizeLegibility
  font-size: 2.25rem
  line-height: 1.1

mark
  background-color: #ff0
  color: #000

small
  font-size: 80%

sub, sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sub
  bottom: -0.25em

sup
  top: -0.5em

img
  border-style: none
  max-width: 100%
  padding: 0
  margin: 0 0 1.45rem

svg:not(:root)
  overflow: hidden

code, kbd, pre, samp
  font-family: monospace
  font-size: 1em

figure
  padding: 0
  margin: 0 0 1.45rem

hr
  box-sizing: content-box
  overflow: visible
  padding: 0
  margin: 0 0 calc(1.45rem - 1px)
  background: hsla(0, 0%, 0%, 0.2)
  border: none
  height: 1px

button, input, optgroup, select, textarea
  font: inherit
  margin: 0

optgroup
  font-weight: 700

button, input
  overflow: visible

button, select
  text-transform: none

[type="reset"], [type="submit"], button, html [type="button"]
  -webkit-appearance: button

[type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, button::-moz-focus-inner
  border-style: none
  padding: 0

[type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring, button:-moz-focusring
  outline: 1px dotted ButtonText

fieldset
  border: 1px solid silver
  padding: 0
  margin: 0 0 1.45rem

legend
  box-sizing: border-box
  color: inherit
  display: table
  max-width: 100%
  padding: 0
  white-space: normal

textarea
  overflow: auto

[type="checkbox"], [type="radio"]
  box-sizing: border-box
  padding: 0

[type="number"]
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button
    height: auto

[type="search"]
  -webkit-appearance: textfield
  outline-offset: -2px

  &::-webkit-search-cancel-button, &::-webkit-search-decoration
    -webkit-appearance: none

\::-webkit-input-placeholder
  color: inherit
  opacity: 0.54

\::-webkit-file-upload-button
  -webkit-appearance: button
  font: inherit

*
  box-sizing: inherit

  &:before, &:after
    box-sizing: inherit

h2
  padding: 0
  margin: 0 0 1.45rem
  color: inherit
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  font-weight: bold
  text-rendering: optimizeLegibility
  font-size: 1.62671rem
  line-height: 1.1

h3
  padding: 0
  margin: 0 0 1.45rem
  color: inherit
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  font-weight: bold
  text-rendering: optimizeLegibility
  font-size: 1.38316rem
  line-height: 1.1

h4
  padding: 0
  margin: 0 0 1.45rem
  color: inherit
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  font-weight: bold
  text-rendering: optimizeLegibility
  font-size: 1rem
  line-height: 1.1

h5
  padding: 0
  margin: 0 0 1.45rem
  color: inherit
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  font-weight: bold
  text-rendering: optimizeLegibility
  font-size: 0.85028rem
  line-height: 1.1

h6
  padding: 0
  margin: 0 0 1.45rem
  color: inherit
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  font-weight: bold
  text-rendering: optimizeLegibility
  font-size: 0.78405rem
  line-height: 1.1

hgroup
  padding: 0
  margin: 0 0 1.45rem

ul, ol
  padding: 0
  margin: 0 0 1.45rem 1.45rem
  list-style-position: outside
  list-style-image: none

dl, dd, p
  padding: 0
  margin: 0 0 1.45rem

pre
  margin: 0 0 1.45rem
  font-size: 0.85rem
  line-height: 1.42
  background: hsla(0, 0%, 0%, 0.04)
  border-radius: 3px
  overflow: auto
  word-wrap: normal
  padding: 1.45rem

table
  padding: 0
  margin: 0 0 1.45rem
  font-size: 1rem
  line-height: 1.45rem
  border-collapse: collapse
  width: 100%

blockquote
  padding: 0
  margin: 0 1.45rem 1.45rem

form, noscript, iframe, address
  padding: 0
  margin: 0 0 1.45rem

b, strong, dt, th
  font-weight: bold

li
  margin-bottom: calc(1.45rem / 2)

ol li, ul li
  padding-left: 0

li >
  ol, ul
    margin-left: 1.45rem
    margin-bottom: calc(1.45rem / 2)
    margin-top: calc(1.45rem / 2)

blockquote *:last-child, li *:last-child, p *:last-child
  margin-bottom: 0

li > p
  margin-bottom: calc(1.45rem / 2)

code, kbd, samp
  font-size: 0.85rem
  line-height: 1.45rem

abbr, acronym
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5)
  cursor: help

thead
  text-align: left

td
  text-align: left
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12)
  font-feature-settings: "tnum"
  -moz-font-feature-settings: "tnum"
  -ms-font-feature-settings: "tnum"
  -webkit-font-feature-settings: "tnum"
  padding: 0.725rem 0.96667rem calc(0.725rem - 1px)

th
  text-align: left
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12)
  font-feature-settings: "tnum"
  -moz-font-feature-settings: "tnum"
  -ms-font-feature-settings: "tnum"
  -webkit-font-feature-settings: "tnum"
  padding: 0.725rem 0.96667rem calc(0.725rem - 1px)

  &:first-child
    padding-left: 0

td:first-child
  padding-left: 0

th:last-child, td:last-child
  padding-right: 0

tt, code
  background-color: hsla(0, 0%, 0%, 0.04)
  border-radius: 3px
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono", "Liberation Mono", Menlo, Courier, monospace
  padding: 0.2em

pre code
  background: none
  line-height: 1.42

code
  &:before, &:after
    letter-spacing: -0.2em

tt
  &:before, &:after
    letter-spacing: -0.2em
    content: " "

pre
  code
    &:before, &:after
      content: ""

  tt
    &:before, &:after
      content: ""

/* page load 전 spinner */
div.beforeLoadPage
  position: fixed
  width: 100%
  height: 100%
  z-index: 1201
  background-color: #EEE
  display: flex
  align-items: center
  justify-content: center
  transition: all linear 1s

/* height 100% 설정 */
#___gatsby
  height: 100%
  #gatsby-focus-wrapper
    height: 100%
    > div
      &:first-child
        height: 100%

/* 사이드바 */
.sidebar
  width: 320px
  height: 100%
  float: left
  background-color: #1f1f1f
  color: #FFF
  transition: width linear .5s
  position: relative
  overflow: auto
  .sidebar-title
    height: 50px
    display: flex
    background-color: #1ac5be
    justify-content: center
    align-items: center
    color: white
    margin: 0
  .hideSideBarBtn
    position: absolute
    top: 5px
    right: 0
    width: 40px
    height: 40px
    border-radius: 0
    visibility: hidden
    svg
      width: 10px
      color: white
  .MuiTypography-body1
    border-left: 3px solid #1f1f1f
    text-overflow: ellipsis
    overflow: hidden
    padding: 5px
    white-space: nowrap
    font-size: .8rem
  .MuiSvgIcon-root
    color: #FFF
  .MuiListItem-gutters
    padding: 0 16px 0 0
    margin: 0
  .MuiListItemText-root
    margin: 0
    cursor: pointer
  /* 선택된 메뉴 강조 */
  .selectedMenu
    .MuiTypography-body1
      border-left: 3px solid #1ac5be
      color: #1ac5be
      font-weight: 600
    svg
      color: #1ac5be
  .selectedSubMenu
    .MuiTypography-body1
      color: #1ac5be
      font-weight: 600
    .MuiSvgIcon-root
      color: #1ac5be
 
/* 검색창 */
.searchBar
  height: 40px
  input
    border: none
    border-bottom: 2px solid #1ac5be
    max-width: 700px
    width: calc(100% - 60px)
    height: 30px
    float: left
    box-sizing: border-box
    background-color: transparent
    border-radius: 0
    padding: 0 10px
    + button
      margin-left: -30px
  button
    width: 30px
    height: 30px
    border: none
    background-color: transparent
    border-radius: 0
    color: #727273
    cursor: pointer
    padding: 0
    transition: color linear .2s
    &:hover
      color: #1ac5be
    svg
      width: 20px
      height: 20px
/* 검색 결과 */
.searchBox 
  position: fixed
  z-index: 3
  background-color: #f8f8f8
  width: calc(100% - 20px)
  max-width: 760px
  max-height: calc(100% - 100px)
  overflow-y: auto
  box-shadow: rgba(64, 60, 67, 0.24) 0px 2px 8px 1px
  border-top-right-radius: .5rem
  border-bottom-right-radius: .5rem
  .searchArticle
    padding: 10px
    &:not(&:last-child)
      border-bottom: 1px solid #ccc
    h2
      font-size: 1.1rem
      margin-bottom: 5px
      cursor: pointer
      &:hover
        color: #1ac5be
    p.searchDate
      margin-bottom: 5px
    div.searchContext
      overflow: hidden
      white-space: normal
      line-height: 1.4
      text-overflow: ellipsis
      height: 4.2em
      -webkit-line-clamp: 31
      -webkit-box-orient: vertical
      display: -webkit-box

button.showSideBarBtn
  width: 33px
  height: 30px
  position: fixed
  left: 5px
  background-color: #525252
  border-radius: .2em
  color: #fff
  float: left
  margin: 10px
  z-index: 1
  &:hover
    background-color: #000
main
  height: 100%
  background-color: #f8f8f8
  padding: 10px 10px 10px 30px
  overflow: auto
  &.sidebarClose
    width: 100%
    padding-left: 60px
  &.sidebarOpen
    width: calc(100% - 320px)
  article
    width: calc(100% - 320px)
    max-width: 760px
  ol
    padding-inline-start: 20px
  ul
    padding-inline-start: 20px
  img
    max-width: 100%
  /* index card형 게시글 */
  .MuiCard-root
    width: 100%
    cursor: pointer
    &:last-child
      margin-right: 0
    .MuiCardHeader-avatar > .MuiAvatar-root
      background-color: #663399
    > img /* card image */
      height: 250px
      border-top: 1px solid #e5e5e5
      border-bottom: 1px solid #e5e5e5
      margin-bottom: 0
    > .MuiCardContent-root /* card content */
      padding: 0
      margin: 16px
      overflow: hidden
      white-space: normal
      line-height: 1.4
      text-overflow: ellipsis
      height: 4.2em
      -webkit-line-clamp: 31
      -webkit-box-orient: vertical
      display: -webkit-box
.utterances
  float: left
aside
  position: fixed
  top: 50px
  right: 20px
  /* left: 1280px */
  float: right
  width: 300px
  border-left: 3px solid #1ac5be
  ul
    margin-left: 10px
    margin-bottom: 0
    list-style: none
    padding: 0
    li
      &:last-child
        margin-bottom: 0
    a
      color: #727273
      font-size: 14px
      cursor: pointer
      transition: all linear .3s
      &.selected
        color: #1ac5be
        text-decoration: underline
        font-weight: 600
      &:hover
        color: #1ac5be
@media only screen and (max-width: 480px)
  html
    font-size: 100%
  .sidebar
    width: 100%
  main
    padding: 10px
    &.sidebarOpen
      width: 100%
      padding: 10px
    &.sidebarClose
      width: 100%
      padding: 10px
  button.showSideBarBtn
    bottom: 15px
    left: 15px
    margin: 0
@media only screen and (max-width: 1200px)
  .sidebar 
    button.hideSideBarBtn
      visibility: visible
  main
    article
      width: 100%
    aside
      display: none
    
